/* body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  /* Styling for .menubar class */
  .menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: #f7c1d9;
    font-size: 1rem;
    border-radius: 6px;
  }
  
  .menubar li {
    float: left;
  }
  
  .menubar li a {
    display: block;
    color: rgb(41, 41, 41);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
  }
  
  .menubar li img {
    display: block;
    width: 65px;
  }
  
  .menubar .active {
    background-color: #f09bc1;
    font-weight: bolder;
  }
  
  .menubar li a:hover {
    background-color: #f088b7;
    font-weight: bolder;
  }
  
  /* Styling for the menu card */
  .menu-card {
    display: flex;
    justify-content: center;
  }
  
  .menu-category {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }
  
  .menu-category h2 {
    font-size: 24px;
  }
  .menu-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7c1d9;
}
  .menu-item img {
    max-width: 100%;
    height: auto;
  }
  
  /* Rest of your CSS styles here */
  
  
  
    
    /* .container {
    margin: auto;
    } */
    
    .center {
      gap: 1%;
      padding: 1%;
      justify-content: space-around; /* Center the dashboard items with some space around */
      display: flex;
      flex-direction: row;
      grid-gap: 20px;
  }
  
  .dashboardItem {
      background-color: #f7c1d9;  /* Make background pink */
      border-radius: 8px;  /* Round corners */
      padding: 1rem;  /* Add some padding */
      width: 45%;  /* Specify a width */
      height: 200px;  /* Specify a height that suits small tables */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;  /* Align content to the start of the div */
      width: 100%;
  }
  
  
  
  
  
  
  
  
  /* bruges til home*/
  
  #logout {
    cursor: pointer;
  }
  
  #logout:hover {
    background-color: blue; /* Ændrer baggrundsfarven til blå ved hover */
  }
  
  
  .vertical-line {
    border-left: 1px solid grey; /* Tilføj en sort lodret streg til venstre */
    height: 50px; /* Juster højden efter dine præferencer */
    margin: 0 10px; /* Tilføj margin til stregen for at skabe afstand */
  }
  
  #user {
    float: left; /* Placer user helt til venstre */
    margin-top: 15px; /* Juster topmarginen efter dine præferencer */
  }
  
  p{
    margin: 5px;
  }

  .kurvknap {
    background-color: #fdfdfd;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}