body {
    font-family: Arial, sans-serif;
    background-color: #f7c1d9;
    display: flex;
    flex-direction: column; /* Change to column to stack divs vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f7c1d9;
    font-weight: 600;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add bottom margin to create space */
    z-index: 1; /* Ensure this div is above others */
}

  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .upload-form input[type="file"] {
    margin-bottom: 10px;
  }

  input[type="file"] {
    display: block; 
    width: auto; 
    align-items: center;
  }

  .preview-images {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .preview-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
  }
  .button {
    background-color: #f7c1d9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #ff4d9d;
  }

  .button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 100%; 
  gap: 10px; 
  }

  .cdn-images-container {
    width: 80%;
    margin: 0 auto 20px; /* Adjust margin for spacing and centering */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 0; /* Lower z-index than .container */
}
  
  .cdn-images-container h2 {
    text-align: center;
  }
  
  .cdn-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
  }
  
  .cdn-images img {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }

  .file-upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-upload-button {
    background-color: #f7c1d9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.file-upload-button:hover {
    background-color: #ff4d9d;
}

#uploadStatus {
    font-size: 14px;
    color: #ff4d9d;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
}

img {
  margin-bottom: 20px;
}